@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
margin: 12px;
    background-color: rgb(42, 31, 197); 
}


h1{
font-size: 50px;
text-align: center;


}

ul {

    margin: 50px;
}

#x{

    display: block;
  margin-left: auto;
  margin-right: auto; 

}

footer{
   font-size: 40px;
    margin-left: 50px;
    float: 50px;
 
    
}

main{
    margin-left: 1px;
    font-size: 25px;
}

img{

margin-left: 197px;
padding-top: 25px;

}

.p1{
    font-family: 'Staatliches', cursive;
    margin-left: 173px ;
    color: aliceblue;
    font-size: 45px;
    padding-top:70px;

}



.b{
color: aliceblue; 
font-size:  30px;
padding-top: 30px;
}

.c{

color: aliceblue; 
font-size:  30px;


}





